{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('/static/img/coffee.jpg')">
<!--  <header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1470092306007-055b6797ca72?ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80')">-->
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1 class="greetings">Hello, I'm Chenmeng</h1>
            <span class="subheading">A Web Developer.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="middle-container">
    <div class="profile">
      <img src="static/img/Clay profile photo.jpg" alt="Clay's profile photo" class="profile-img">
      <h2>Who I am.</h2>
      <div class="introduction">
        <p class="introduction-text">Chenmeng Wang received the Ph.D. degree in information and telecommunication engineering from the Chongqing
          University of Posts and Telecommunications (CQUPT), Chongqing, China, in 2018. From 2019 to 2021, he was a postdoctoral fellow at the
          University of Alberta, Edmonton, AB, Canada. From 2015 to 2017, he was a visiting Ph.D. student at Carleton University, Ottawa, ON, Canada.
          His research interests include small-cell HetNets, multi-access edge computing, massive MIMO systems and resource allocation in mobile networks.</p>
        <p class="introduction-text">After all these years, I discovered that my true passion is in programming.</p>
      </div>
    </div>
    <hr>
    <div class="skills">
      <h2>My Skills.</h2>
      <p class="introduction-text">I am a full-stack web developer and Python developer. My skills include:</p>
      <div class="skill-row">
        <img class="browser-img" src="static/img/browser.png" alt="">
          <h3>Web design & development</h3>
          <p>I have solid knowledge in both  front-end and  back-end web development. I am skilled in the following technologies: HTML, CSS, Javascript, Bootstrap, Node, React, MongoDB, Web3, DApps, etc.</p>
      </div>
      <div class="skill-row">
        <img class="math-img" src="static/img/python.png" alt="">
          <h3>Python development</h3>
          <p>I am well versed in Python development, familiar with python automation, game, app and web development, data science and machine learning.
            I have full knowledge and skills in the following frameworks and technologies: Selenium, Beautiful Soup, Request, Flask, Pandas, NumPy, Scikit Learn, Plotly, and Matplotlib.
            I can build fully fledged websites and web apps with Python.</p>
      </div>
      <div class="skill-row">
        <img class="browser-img" src="static/img/algorithm.png" alt="">
          <h3>Data structure and algorithms</h3>
          <p>I have systematic knowledge in data structure and algorithms, and know how to build efficient apps using them. </p>
      </div>
    </div>
    <hr>
    <div class="skills">
      <h2>My Experience.</h2>
      <div class="skill-row">
        <img class="experience-img" src="static/img/books.png" alt="">
          <h3>I have an academic background.</h3>
          <p>
            I received the Ph.D. degree in information and telecommunication engineering from the Chongqing
            University of Posts and Telecommunications, China, in 2018. My Ph.D. thesis was awarded the "Outstanding Ph.D.
            Dissertation Award of Chongqing Municipality" in 2020. I did a postdoc at the University of Alberta, Canada
            from 2019 to 2021.
          </p>
      </div>

      <div class="skill-row">
        <img class="experience-img" src="static/img/blackboard.png" alt="">
          <h3>I taught web development and Python.</h3>
          <p>
            I taught web development and Python programming at Hainan University, China from 2022 to 2023.
          </p>
      </div>

      <div class="skill-row">
        <img class="experience-img" src="static/img/app-development.png" alt="">
          <h3>I built fully fledged projects.</h3>
          <p>
            I have experience building dozens of projects, including websites with databases, web apps, games, APIs, GUIs,
            desktop apps, automation and data science tasks and more.
          </p>
      </div>

  </div>
    <hr>
    <div class="contact-me">
      <h2>Get In Touch</h2>
      <img class="gmail-img" src="static/img/gmail.png" alt="">
      <h6 class="contact-heading">Please feel free to contact me.</h6>
      <a class="btn" href="mailto:wangchenmeng09@gmail.com">CONTACT ME</a>
    </div>
  </div>

<!--  <div class="bottom-container">-->
<!--    <a class="footer-link" href="https://www.linkedin.com/">LinkedIn</a>-->
<!--    <a class="footer-link" href="https://twitter.com/">Twitter</a>-->
<!--    <a class="footer-link" href="https://clay-the-great.github.io/CV/">Website</a>-->
<!--    <p class="copyright">© 2022 Chenmeng (Clay) Wang.</p>-->
<!--  </div>-->




{% include "footer2.html" %}